{% extends "base.html" %}
{% block title %}Login ke Akun Anda{% endblock %}
{% block content %}
    <div class="card auth-card">
        <h2>Selamat Datang Kembali!</h2>
        <form method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="button">Login</button>
        </form>
        <p class="auth-switch">Belum punya akun? <a href="{{ url_for('register') }}">Daftar di sini</a></p>
    </div>
{% endblock %}