{% extends "base.html" %}
{% block title %}Pemesanan Saya{% endblock %}

{% block content %}
    <h2 class="page-title">Riwayat Pemesanan Saya</h2>
    <div class="card">
        {% if bookings %}
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Tgl. Pesan</th>
                            <th>Penerbangan</th>
                            <th>Rute</th>
                            <th>Penumpang</th>
                            <th>Total Harga</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.booking_date.strftime('%d %b %Y, %H:%M') }}</td>
                            <td>{{ booking.flight_details.flight_number }}</td>
                            <td>{{ booking.flight_details.origin }} ➔ {{ booking.flight_details.destination }}</td>
                            <td>{{ booking.num_passengers }}</td>
                            <td>Rp{{ "{:,.0f}".format(booking.total_price) }}</td>
                            <td><span class="status-badge status-{{ booking.status }}">{{ booking.status|capitalize }}</span></td>
                            <td>
                                {% if booking.status == 'confirmed' %}
                                <form action="{{ url_for('cancel_booking', booking_id=booking._id) }}" method="POST" onsubmit="return confirm('Yakin ingin membatalkan pesanan ini?');">
                                    <button type="submit" class="button-sm button-delete">Batalkan</button>
                                </form>
                                {% else %} - {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p style="text-align:center; padding: 40px;">Anda belum memiliki riwayat pemesanan tiket.</p>
        {% endif %}
    </div>
{% endblock %}